# Data Science Tools Final Assignment

## Introduction
In this notebook, I will perform all final assignment's task and gain more experience of topic that covered in this course.

#### Data Science Languages

1. Python  
2. R  
3. SQL  
4. Java  
5. Scala
6. Julia
7. C/C++
8. JavaScript

#### Data Science Libraries

- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- Keras

#### Data Science Tools

| Category | Tools                        |
|----------|-----------------------------|
| IDEs     | Jupyter Notebook, RStudio   |
| Big Data | Apache Hadoop, Apache Spark |
| ML       | TensorFlow, Scikit-learn    |

#### Arithmetic Expression Examples
Below are examples of arithmetic expressions.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
def min_to_hours(min):
    return min/60

min = 120
hours = min_to_hours(min)
print(f"{min} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

#### Objectives

- List popular languages used in Data Science  
- List commonly used libraries in Data Science  
- Create tables using markdown  
- Perform basic arithmetic operations using code cells  
- Convert time units using Python code

#### Author
**Arpit Devganiya**